* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Pushster", cursive;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.overall-container {
    height: 100vh;
}

#title {
    font-size: 34px;
    margin: 0;
}

.inputs {
    gap: 20px;
}

.add-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;
    background-image: linear-gradient(#6aa6b3, #8790ad, #6aa6b3);
    height: 40%;
    color: #faeedc;
}

#form {
    display: none;
}

.error {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
    background-color: rgb(211, 39, 39);
    color: white;
}

.active-error {
    padding: 0.5em;
}

#card-cont {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-image: url(./images/library.jpg);
    background-size: 100%;
    padding: 20px;
    height: 60%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: solid 2px black;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(197, 197, 197, 0.5);
}

.card-text {
    display: flex;
    flex: 1;
    justify-self: center;
    background-color: #bbeefa;
    padding: 5px 10px 5px 10px;
    border: solid 2px black;
    word-break: break-all;
    max-width: 150px;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
}

#read-btn {
    border-radius: 10px;
}

.readT {
    background-color: greenyellow;
}

.readF {
    background-color: rgb(207, 55, 55);
}

#read-btn {
    font-weight: bold;
}

#remove-btn {
    border-radius: 15px;
}

.form-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    text-align: center;
}

label {
    font-size: 18px;
}

button {
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 3px;
    font-size: 14.5px;
}

input {
    display: block;
    padding: 2px;
    border: solid 2px black;
    border-radius: 3px;
}
